{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Science Trivia - {{ title }}</title>

    {% tailwind_css %}

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

      body {
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div class="flex-col place-content-center bg-purple-500 h-auto p-2">
      <p class="text-center font-semibold text-xl">Computer Science Trivia</p>
    </div>
    {% block content %} {% endblock content %}
  </body>
</html>
